@config {
  content:
    [ './index.html',
    './src/**/*.{js,ts,jsx,tsx}'];
  theme: {
    extend: {
      /* You can extend the theme here */
    }
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
